
@media(max-width:576px) {
    .container{
        max-width: 100%;
    }
}
@media(min-width:576px) {
    .container{
        max-width:540px;
    }
}
@media(min-width:768px){
    .container{
        max-width: 720px;
    }
}
@media(min-width:992px){
    .container{
        max-width:960px;
    }
}
@media(min-width:1200px) {
    .container{
        max-width: 1140px;
    }
}
@media(min-width:1400px){
    .container{
        max-width: 1320px;
    }
}

/*NAVBAR*/

@media(max-width:991.99px){
    .nav-btn{
        display: block!important;
        color: #777;
        z-index: 1;
    }
    header{
        background-color: #fff!important;
    }
    .navbar{
        display: none;
    }
}
/*nav mobile*/
.navbar-mobile{
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: opacity linear 0.3s,-webkit-transform linear 0.3s;
    transition: opacity linear 0.3s,-webkit-transform linear 0.3s;
    -o-transition: transform linear 0.3s,opacity linear 0.3s;
    transition: transform linear 0.3s,opacity linear 0.3s;
    transition: transform linear 0.3s,opacity linear 0.3s,-webkit-transform linear 0.3s;
}
.nav-input{
    visibility: hidden;
}
.navbar-nav-mobile{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 100px;
}

.nav-link-mobile{
    padding: 15px 20px;
    color: rgba(0,0,0,0.9);
    text-transform: uppercase;
    
}
.nav-link-mobile:hover{
    color:#bac964;
    
}
@media(max-width:992px){
    .nav-input:checked ~ .navbar-mobile{
        display:block;
    }
    .nav-input:checked ~ .navbar-mobile{
        -webkit-transform: translateY(0%);
            -ms-transform: translateY(0%);
                transform: translateY(0%);
        opacity: 1;
    }
}
/*END NAVBAR*/
/*PORTFOLIO*/
@media(min-width:576px){
    .section-portfolio .filter-item{
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
        max-width: 33.3333%;
        padding: 0 15px;
    }
}
@media(max-width:575.99px){
    .section-portfolio .filter-item{
        max-width: 100%;
    }
}
/*RESUME*/
@media(max-width:767.99px){
    .section-resume .row{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
/*TESTIMONIAL*/
@media(max-Width:768px){
    .Testimonial .row{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .Testimonial .col{
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
}
/*ABOUT*/
@media(max-width:991.99px){
    .section-about .row{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}
/*MY SERVICES*/
@media(max-width:991.99px){
    .section-services .row{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        
        
    }
    .section-services .col{
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        max-width: 50%;
        margin-bottom: 15px;
    }
}
@media(max-width:767.99px){
    .section-services .row .col{
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        max-width: 100%;
        margin-bottom:15px;
    }
}
/*MEDIIUM*/
@media(max-width:991.99px){
    .medium .row{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        
    }
    .medium .col{
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        margin-bottom: 15px;
    }
}
@media(max-width:767.99px){
    
    .medium .col{
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        max-width: 100%;
    }
}
/*SECTION-CONTACT*/
@media(max-width:767.99px){
    .section-contact .row{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .section-contact .col:first-child{
        margin-bottom:30px;
    }
    .section-contact .col:last-child{
        margin-top:30px;
    }
}